@(active: String)(implicit ac: controllers.AppContext)
<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light bs-navbar-top">
  <div class="container">
    <a class="navbar-brand" href="@routes.AppController.index()">
     @controllers.AppConstants.APP_NAME
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        @if(ac.authorizedOpt.isDefined) {          
          @base.common.menuItem(active, "logout", routes.AccountsController.logout(), Some("sign-out-alt"))
        }
        @if(ac.authorizedOpt.isEmpty) {         
          @base.common.menuItem(active, "login", routes.AccountsController.login(), Some("sign-in-alt"))
        }
      </ul>
    </div>
  </div>
</nav>