@()(implicit flash: Flash, messages: Messages, ac: controllers.AppContext)

@implicitVerticalFC = @{ b4.vertical.fieldConstructor() }

@app.common.main("force update") { } {
  @base.common.components.container() {        
    <div class="container bs-authreg-container">

      <h2 class="mb-4">Force update price</h2>
      <p class="mb-5"></p>
  
      @b4.form(routes.AppController.controlForceUpdate()) {
        @b4.submit('_class -> "mt-5", 'class -> "btn btn-outline-primary btn-block"){ Force update }   
      }

    </div>
  }
} { }
